asgiref
certifi
chardet
click
dill
Django
djangorestframework
filelock
Flask
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
nlp
nltk
numpy
pandas
pyarrow
python-dateutil
pytz
regex
requests
scikit-learn
scipy
six
sqlparse
threadpoolctl
tqdm
typed-ast
urllib3
Werkzeug
xxhash
